* {
    margin: 0;
    padding: 0;
    background-color: black;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
    z-index: 10;
    color: #ffffff;
}

.links {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    z-index: 10;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #bfbfbf;
}

a:active {
    color: #00ccff;
}

button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #bfbfbf;
}

button:focus {
    background-color: #00ccff;
}

a.button {
    color: white;
}

input {
    box-align: center;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}

svg {
    width: 100%;
    height: 50%;
}

.text {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    display: inline;
}

.special {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    z-index: 10;
    display: inline;
}

.center {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;

}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}